body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}
.limitSection{
  text-align:center;
}

.limit-item{
  font-size: 2em;
  cursor: default;
   
  text-decoration: none;
  color: grey;
  margin-right: 50px;
}

.limit-itembold{
  cursor: default;
  font-size: 2em;
  text-decoration: none;
  color: rgb(247, 0, 0);
  margin-right: 50px;

}